*.xlsx
!docs/04-test-cases/test-cases.xlsx
!docs/05-traceability/rtm.xlsx
!docs/06-execution/execution-results.xlsx
!docs/06-execution/regression-results.xlsx
!docs/06-execution/retest-results.xlsx
.env
*.png
!bugs/**/evidence/*.png
!evidence/**/*.png
